body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #0F1220;
    font-family: 'Karla', sans-serif;
    color: white;
    padding: 20px;
}

.container {
    width: 800px;
    max-width: 100%;
    background-color: black;
    padding: 20px;
    border-radius: 18px;
    border: 2px solid palevioletred;
}

h1 {
    margin: 10px;
}

.subtitle {
    margin: 20px;
    color: palevioletred;
    font-family: 'Segoe Script', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.grid {
    display: grid;
    gap: 18px;
}

.box {
    display: grid;
    grid-template-columns: 110px auto;
    gap: 16px;
    align-items: center;
    background-color: purple;
    border: 2px solid palevioletred;
    padding: 16px;
    border-radius: 16px;
}

.icon {
    width: 90px;
    height: 90px;
}

@keyframes floaty {
    0% { transform: translateY(0); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0); }
}

.check {
    animation: floaty 2s infinite;
}

.envelope {
    animation: floaty 3s infinite;
}

button {
    padding: 10px 16px;
    border-radius: 10px;
    border: none;
    background-color: palevioletred;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.06);
    background-color: teal;
}